.checkbox-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;
}

/* Checkbox checkmark */
input[type="checkbox"]::before {
  content: "";
  width: 7px;
  height: 14px;
  margin-bottom: 5.5px;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top-right-radius: 0.5px;
  border-bottom-right-radius: 0.9px;
  border-bottom-left-radius: 0.5px;
  transform: rotate(45deg) scale(0);
}

/* Hover effects */
.checkbox-container.hovered input[type="checkbox"] {
  border-color: #bdbdbd;
}

.checkbox-container.hovered input[type="checkbox"]::before {
  transform: rotate(45deg) scale(1);
  border-color: #e3e3e3;
}

/* Active effects */
.checkbox-container.active input[type="checkbox"] {
  box-shadow: 0 0 0 3px #e9f0fe;
}

.checkbox-container.active input[type="checkbox"]::before {
  border-color: #878787;
}

/* Checked effects */
.checkbox-container.checked input[type="checkbox"]::before {
  transform: rotate(45deg) scale(1);
}

.checkbox-container.checked input[type="checkbox"] {
  background-color: #2469f6;
  border-color: #2469f6;
}

.checkbox-container.checked.hovered input[type="checkbox"] {
  background-color: #5087f8;
  border-color: #5087f8;
}

.checkbox-container.checked.active input[type="checkbox"] {
  background-color: #2469f6;
  border-color: #2469f6;
}

.checkbox-container.checked input[type="checkbox"]::before {
  border-color: #ffffff;
}
