.home-container {
  width: 370px;
  height: 42px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 8px 15px 8px 22px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.checkbox-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
