#root {
  margin: 0;
  padding: 0;
}

.container {
  width: 370px;
  height: 326px;
  background-color: #ffffff;
  padding: 10px 0px 10px 0px;
  border-radius: 6px;
  border-width: 1px;
  margin-top: 84px;
  margin-left: 104px;
  box-shadow: 0px 8px 15px 0px #1414141f, 0px 0px 4px 0px #1414141a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 340px;
  height: 40px;
  padding: 10px 20px;
  border: 0;
  border-radius: 4px;
  margin-top: 10px;
  background-color: #ffce22;
  font-family: Inter, sans-serif;
  font-size: 11px;
  line-height: 16px;
  transition: background-color 0.3s ease;
}

button:active {
  background-color: #ffd84d;
}

.separator-container {
  padding: 10px 0;
}

.separator {
  height: 1px;
  width: 340px;
  border-radius: 0.7px;
  background-color: #cdcdcd;
}
